.congratulations-container {
    width: 100%;
    min-height: 100vh;
    height: min-content;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.congratulations-box {
    width: 700px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.congratulations-info-container {
    width: 100%;
    height: min-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.congratulations-title {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 12px;
}

.congratulations-subtitle {
    font-size: 15px;
    font-weight: 200;
    opacity: .7;
    width: 80%;
}

.congratulations-btn-container {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.congrats-btn {
    width: 60%;
    height: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
}



@media only screen and (max-width: 800px) {
    .congratulations-box {
        width: 80%;
        min-height: 90%;
        height: min-content;
    }
    .congratulations-title {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .congratulations-box {
        width: 90%;
        min-height: 100%;
        height: min-content;
    }
    .congratulations-title {
        font-size: 20px;
    }
    .congrats-btn {
        width: 90%;
    }
}