.current-project-full-container {
    width: 100%;
    min-height: 100vh;
    height: min-content;
}

.current-project-container {
    width: 100%;
    min-height: 100vh;
    height: min-content;
    padding: 35px;
    padding-top: 80px;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-project-title-container {
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.current-project-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.current-project-info-container {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-project-image-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.current-project-image {
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff95;
    object-fit: cover;
    aspect-ratio: 3/4;
}

.current-project-category-container {
    min-width: 40%;
    width: min-content;
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.current-project-category {
    min-width: 60px;
    width: max-content;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    opacity: .9;
    color: darkgray;
}

.category-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}



.current-project-funding-container {
    width: 50%;
    height: 100%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-s;
    position: relative;
}

.progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 8px;
    border-radius: 20px;
    background-color: rgb(52, 49, 49);
}

.progress {
    max-width: 100%;
    height: 100%;
    background-color: var(--auth-btn-bg);
    border-radius: 20px;
}

.backers-info-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


.back-project-btn-container {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-project-btn {
    width: 100%;
    height: 40%;
    background-color: var(--auth-btn-bg);
    color: #000;
    text-align: center;
    border: none;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.current-project-number-bold {
    font-size: 25px;
    font-weight: 500;
}

.current-project-text-sub {
    opacity: .9;
    color: darkgray;
}

.money {
    color: lime;
}

.money-goal {
    padding: 0 5px;
}


@media only screen and (max-width: 950px) {
    .current-project-title-container {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .current-project-info-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .current-project-image-container {
        width: 100%;
        height: 70vh;
        margin-bottom: 30px;
    }
    .current-project-funding-container {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .backers-info-container {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .back-project-btn-container {
        width: 100%;
        height: 20vh;
    }
    .back-project-btn {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .current-project-image-container {
        height: 60vh;
    }
    .current-project-title-container {
        height: 80px;
    }
    .current-project-title  {
        font-size: 24px;
    }
}

@media only screen and (max-width: 550px) {
    .current-project-container {
        padding: 10px;
    }
    .current-project-image-container {
        height: 50vh;
        width: 100%;
    }
    .current-project-title-container {
        margin-top: 80px;
    }
    .current-project-title  {
        font-size: 22px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 500px) {
    .current-project-category-container {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .current-project-category {
        min-width: 120px;
    }
}

@media only screen and (max-width: 420px) {
    .current-project-image-container {
        height: 40vh;
    }
    .current-project-title-container {
        margin-top: 80px;
    }
    .current-project-title  {
        font-size: 18px;
    }
    .current-project-description {
        font-size: 15px;
    }
    .back-project-btn {
        width: 90%;
    }
}