.discover-container {
    padding-top: 100px;
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.discover-filter-container {
    width: 55%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.discover-filter {
    display: flex;
    font-size: 18px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discover-input-filter-container {
    width: 60%;
}

.discover-input-filter {
    width: 100%;
    height: 35px;
    padding-left: 7px;
    background-color: var(--main-bg);
    color: #fff;
    border: 1px solid #ffffff80;
    font-size: 17px;
    cursor: pointer;
}


.discover-projects-container {
    width: 100%;
    min-height: 20vh;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
    place-content: center;
    padding: 120px 40px;
    position: relative;
}

.displayed-projects-heading {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
}

.displayed-project-container {
    cursor: pointer;
    width: 30vw;
    height: 570px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ffffff45;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all .3s ease-in;
}

.displayed-project-container:hover {
    z-index: 2;
    transform: scale(1.01);
    border: 1px solid #ffffff80;
    transition: all .3s ease-in;
}

.displayed-project-image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayed-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/4;
    z-index: 1;
}


.displayed-project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    padding: 15px;
    display: flex;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.displayed-project-name {
    font-size: 17px;
}

.displayed-project-desc {
    font-size: 15px;
    font-weight: 400;
    opacity: .7;
}

.displayed-project-info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-synthesis: 15px;
    opacity: .8;
    position: relative;
}

.percent-pledged {
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
    position: absolute;
    top: -20px;
    right: 0;
}

.percent-number {
    color: rgb(141, 255, 141);
    padding-right: 5px;
}