:root {
    --main-bg: #0F1A15;
    --auth-btn-bg: #00ABE7;
    --box-step-bg: #012851;
}

.app {
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    color: #fff;
    background-color: var(--main-bg);
    font-family: 'Poppins', sans-serif;
}
