:root {
    --main-bg: rgb(26, 45, 36);
    --auth-btn-bg: rgb(0, 171, 231);
    --box-step-bg: #073f7a; /*012851 #07284B */
}

html, body {
    max-height: 100vh;
}

.app {
    max-width: 100vw;
    min-height: 100vh;
    color: #fff;
    background-color: var(--main-bg);
    font-family: 'Poppins', sans-serif;
}
