.home-page-container {
    max-width: 100vw;
    min-height: 100%;
    height: min-content;
    background-color: var(--main-bg);
    color: #fff;
    box-sizing: border-box;
}

.home-nav-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-nav-img-container {
    width: 100%;
    height: 90%;
    position: absolute;
    background-image: url("../images/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    position: fixed;
    top: 15%;
    left: calc(55% % 2);
    width: 0;
    height: 0;
    background-color: var(--main-bg);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    user-select: none;
    opacity: 0;
    z-index: 0;
}

.login-box.show {
    width: 60%;
    height: 70%;
    opacity: 1;
    user-select: all;
    z-index: 5;
}

.close-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.login-box-img {
    width: 35%;
    height: 100%;
    background-image: url("../images/image/graph1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box-info {
    width: 75%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-box-heading {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.login-box-title {
    font-size: 26px;
    font-weight: 700;
}

.login-box-subtitle {
    width: 85%;
    font-size: 16px;
    font-weight: 300;
    color: darkgray;
}

.login-box-join-container {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box-btn {
    width: 60%;
    height: 50px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: #5c64eb;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.login-box-btn:hover {
    cursor: pointer;
    background-color: #373c9f;
}

.add-project-btn-container {
    z-index: 2;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: var(--main-bg);
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}


.add-project-btn-container:hover {
    cursor: pointer;
    background-color: #222;
}

.add-project-text {
    background: transparent;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding-left: 7px;
}

.group-icon {
    width: 25px;
    height: 25px;
}






.funds-raised-full-container {
    height: min-content;
    width: 100%;
    padding-top: 10px;
    background-color: var(--main-bg);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fundlify-funds-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.creative {
    padding: 0 10px;
    font-weight: 600;
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
    color: rgb(97, 136, 255);
}

.subtitle {
    font-size: 22px;
    font-weight: 300;
    color: darkgray;
}

.funds-raised-container {
    width: 85%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-info-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fund-stats-container {
    width: 35%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fund-number {
    font-size: 26px;
}

.fund-text {
    font-size: 18px;
    color: darkgray;
}

.line {
    width: 50%;
    height: 1px;
    background-color: #fff;
    border-radius: 10px;
}






.fund-steps-container {
    padding: 40px;
    background-color: var(--box-step-bg);
    color: #fff;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.fund-steps-desc {
    height: 130px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.fund-steps-heading {
    font-size: 40px;
    font-weight: 600;
}

.fund-steps-sub-text {
    color: darkgray;
}

.steps-full-container {
    padding-top: 40px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.step-container {
    width: 28%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.step-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(182, 181, 181);
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.step-desc {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.step-desc-title {
    font-size: 22px;
    font-weight: 700;
}









.get-started-container {
    margin-top: 20px;
    width: 100%;
    height: 45vh;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-started-text-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.get-started-heading {
    width: 85%;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
}

.get-started-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.started-btn {
    width: 45%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.create-acc-btn {
    color: #000;
    background-color: var(--auth-btn-bg);
}

.how-it-works-btn {
    background-color: rgb(62, 49, 49);
    color: #fff;
}

.get-started-icon-container {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration-icon {
    height: 100%;
}








.most-popular-container {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.most-popular-title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20px;
}

.popular-projects-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 55px;
}

.main-project-container {
    border: 1px solid #ffffff40;
    width: 48%;
    height: 100%;
    position: relative;
}

.main-project {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-project-img-container {
    width: 100%;
    height: 65%;
}

.main-project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/4;
}

.main-project-info {
    width: 100%;
    height: 35%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.main-project-heading {
    height: 65%;
}

.main-project-name {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.main-project-desc {
    font-size: 15px;
    font-weight: 400;
    color: darkgray;
}

.percent-funded {
    font-size: 15px;
    color: lime;
}

.main-project-made-by {
    font-size: 14px;
    color: darkgray;
}



.side-projects-container {
    padding-left: 50px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.side-project {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 28%;
    border: 1px solid #ffffff40;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.side-project-img-container {
    width: 30%;
    height: 100%;
}

.side-project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.side-project-info {
    width: 70%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.side-project-name {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 7px;
}

.side-project-made-by {
    font-size: 14px;
    font-weight: 300;
    color: darkgray;
}

.side-project-img {
    width: 100%;
    height: 100%;
}

.side-project-percent {
    color: lime;
}



@media only screen and (max-width: 1000px) {
    .fund-steps-desc {
        width: 65%;
    }

    .fund-steps-heading {
        font-size: 26px;
    }

    .step-icon {
        width: 30px;
        height: 30px;
    }

    .steps-container {
        width: 26%;
    }

    .step-desc-title {
        font-size: 18px;
    }

    .step-desc-sub-title {
        font-size: 15px;
    }
}


@media only screen and (max-width: 900px) {
    .funds-raised-container {
        width: 100%;
    }

    .steps-full-container {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
    }

    .fund-steps-desc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fund-steps-heading {
        width: 60%;
        text-align: center;
    }

    .step-container {
        width: 45%;
        height: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .step-desc {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }

    .most-popular-container {
        min-height: 100vh;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .popular-projects-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }

    .main-project-container {
        width: 85%;
        height: 90vh;
        margin-bottom: 45px;
    }

    .side-projects-container {
        padding-left: 0;
        width: 85%;
    }

    .side-project {
        padding-bottom: 25px;
    }

    .get-started-container {
        width: 100%;
            min-height: 75vh;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .get-started-text-container {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .get-started-heading {
        width: 100%;
        font-size: 24px;
    }

    .get-started-icon-container {
        width: 60%;
        height: 40vh;
    }

    .get-started-btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .started-btn {
        width: 40%;
    }

    .get-started-icon-container {
        width: 100%;
    }

    .illustration-icon {
        width: 60%;
    }
    .login-box {
        top: 20%;
    }
    .login-box.show {
        height: 60%;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .login-box-img {
        width: 100%;
        height: 25%;
    }
    .close-icon {
        background-color: #222;
        width: 40px;
        height: 40px;
        padding: 10px;
    }
    .close-icon:hover {
        background-color: #333;
    }
    .login-box-info {
        width: 100%;
        height: 85%;
        justify-content: space-evenly;
    }
}


@media only screen and (max-width: 600px) {
    .title {
        font-size: 18px;
    }

    .subtitle {
        font-size: 16px;
        padding-top: 12px;
    }

    .funds-raised-container {
        padding: 35px 0;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    .fund-stats-container {
        width: 75%;
    }

    .fund-steps-heading {
        width: 85%;
        font-size: 22px;
    }

    .step-container {
        width: 65%;
        height: 33%;
        padding-bottom: 15px;
    }

    .main-project-container {
        width: 100%;
    }

    .main-project-info {
        height: 30vh;
    }

    .main-project-name {
        padding-bottom: 5px;
    }

    .side-projects-container {
        width: 100%;
        height: 60vh;
    }

    .side-project {
        height: 50%;
        padding-bottom: 10px;
    }

    .side-project-img-container {
        min-width: 175px;
        width: 175px;
    }

    .side-project-name {
        font-size: 15px;
    }

    .side-project-percent {
        font-size: 14px;
    }
    .get-started-text-container {
        width: 100%;
    }
    .get-started-heading {
        width: 100%;
        padding-left: 0;
        font-size: 20px;
    }

    .get-started-btn {
        display: flex;
        flex-direction: column;
    }

    .started-btn {
        width: 75%;
        margin-bottom: 16px;
    }
    .login-box.show {
        width: 80%;
    }
    .login-box-title {
        font-size: 25px;
    }
    .login-box-subtitle {
        text-align: center;
        font-size: 15px;
    }
}

.illustration-icon {
    height: 70%;
}


@media only screen and (max-width: 420px) {
    .funds-raised-full-container {
        padding: 20px;
    }

    .steps-full-container {
        padding-top: 10px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .step-container {
        height: 30%;
    }
    .side-project-name {
        font-size: 14px;
    }
    .side-project-img-container {
        min-width: 130px;
        width: 130px;
    }
    .side-project-percent {
        font-size: 13px;
    }
    .get-started-text-container {
        width: 100%;
    }
    .illustration-icon {
        width: 90%;
    }
}